<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<settings>
		<!-- mybatis控制台LOG输出
		<setting name="logImpl" value="LOG4J" />
		 -->
		<setting name="lazyLoadingEnabled" value="true" />
		<setting name="aggressiveLazyLoading" value="false" />
	</settings>
	<typeAliases>
		<typeAlias type="com.jensen.jeeproject.system.entity.User" alias="User"/>
		<typeAlias type="com.jensen.jeeproject.system.entity.Role" alias="Role"/>
		<typeAlias type="com.jensen.jeeproject.system.entity.Office" alias="Office"/>
		<typeAlias type="com.jensen.jeeproject.system.entity.Permission" alias="Permission"/>
		<typeAlias type="com.jensen.jeeproject.common.entity.Area" alias="Area"/>
	</typeAliases>
</configuration>
